/*csslint box-sizing:false,ids:false*/

#dropdown {
    width: 225px;
}

fieldset {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    zoom: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
    overflow:hidden;
}

.form-field {
    width: 95%;
    margin: 10px 0;
}

.form-field input,
.form-field select,
.form-field label {
    width: 100%;
    height: 30px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-field input,
.form-field select {
    padding: 4px;
}

button {
    float: right;
}

.error {
    color: red;
}